body{margin:0}
.helper{position:absolute;left:0;bottom:0;width:300px;background:rgba(255,255,255,.4);padding:20px;font:16px arial;font-weight:700}
.tile-bar {position:absolute;margin:auto;width:500px;height:116px;left:0;right:0;bottom:0;box-sizing:border-box;padding:15px;background:url(../img/tile-bar.png);border-top-left-radius:10px;border-top-right-radius:10px;text-align:center}
.tile-bar>img{border:2px solid #9a792b;margin:5px;border-radius:4px}
.tile-bar>img.selected{border-color:#5b3628;box-shadow:0 0 4px #5b3628}